<div class="page">
    <div *ngIf="scrollHeightWarning" class="error-box">
        Virtual scroll height exceeds the browser's maximum scroll height of {{ MAX_SCROLL_HEIGHT_PX }}px.
    </div>

    <div class="content">
        <div class="demo-controls">
            <h2 class="title">&#64;lithiumjs/ngx-virtual-scroll example</h2>

            <form class="demo-controls-form">

                <h3>List controls:</h3>
                
                <span>
                    <label for="virtual-scroll-enabled-control">Virtual scroll enabled</label>
                    <input id="virtual-scroll-enabled-control"
                           type="checkbox"
                           name="virtualScrollEnabled"
                           [disabled]="!allowSimpleScroll"
                           [(ngModel)]="virtualScrollEnabled">
                </span>

                <span>
                    <label for="allow-simple-scroll-control">Allow non-virtual scroll</label>
                    <input id="allow-simple-scroll-control"
                           type="checkbox"
                           name="allowSimpleScroll"
                           [(ngModel)]="allowSimpleScroll">
                </span>

                <span>
                    <label for="grid-list-control">Grid list</label>
                    <input id="grid-list-control" type="checkbox" [(ngModel)]="gridList" name="gridList">
                </span>

                <span>
                    <label for="item-count-control">Number of items</label>
                    <input id="item-count-control"
                           type="number"
                           name="itemCount"
                           [ngModel]="listItems.length"
                           (ngModelChange)="updateListItems($event)">
                </span>
                
                <span>
                    <label for="widget-count-control">
                        Number of item widgets
                        <app-item-widget [spinning]="false"></app-item-widget>
                    </label>
                    <select name="widgetCount" [(ngModel)]="widgetCount">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                </span>

                <span>
                    <label for="spinning-widgets-control">Animated widgets</label>
                    <input id="spinning-widgets-control"
                           type="checkbox"
                           name="spinningWidgets"
                           [(ngModel)]="spinningWidgets"
                           [disabled]="widgetCount > 10">
                </span>

                <h3>Virtual scroll settings:</h3>

                <span>
                    <label for="async-rendering-control">Async rendering</label>
                    <input id="async-rendering-control"
                           type="checkbox"
                           name="asyncRendering"
                           [disabled]="!virtualScrollEnabled"
                           [(ngModel)]="asyncRendering">
                </span>

                <span>
                    <label for="scroll-debounce-control">Scroll debounce (ms)</label>
                    <input id="scroll-debounce-control"
                           type="number"
                           name="scrollDebounceMs"
                           [disabled]="!virtualScrollEnabled"
                           [(ngModel)]="scrollDebounceMs">
                </span>

                <span>
                    <label for="buffer-length-control">Scroll buffer length</label>
                    <input id="buffer-length-control"
                           type="number"
                           name="bufferLength"
                           [disabled]="!virtualScrollEnabled"
                           [(ngModel)]="bufferLength">
                </span>

                <span>
                    <label for="view-cache-control">View cache size</label>
                    <input id="view-cache-control"
                           type="number"
                           name="viewCacheLength"
                           [disabled]="!virtualScrollEnabled"
                           [(ngModel)]="viewCacheLength">
                </span>
            </form>
        </div>

        <li-virtual-scroll *ngIf="virtualScrollEnabled; else simpleScrollTemplate"
                           class="scroll-container"
                           [items]="listItems"
                           [gridList]="gridList"
                           [scrollDebounceMs]="scrollDebounceMs"
                           [bufferLength]="bufferLength"
                           [asyncRendering]="asyncRendering"
                           [viewCache]="viewCacheLength">
            <div *liVirtualItem="let item" class="list-item">
                <ng-container *ngTemplateOutlet="itemContentTemplate; context: { $implicit: item }">
                </ng-container>
            </div>

            <div *liVirtualPlaceholder="let item" class="list-item placeholder">
                <ng-container *ngTemplateOutlet="itemPlaceholderContentTemplate; context: { $implicit: item }">
                </ng-container>
            </div>
        </li-virtual-scroll>

        <ng-template #simpleScrollTemplate>
            <div class="scroll-container" [attr.grid-list]="gridList || null">
                <div *ngFor="let item of listItems" class="list-item">
                    <ng-container *ngTemplateOutlet="itemContentTemplate; context: { $implicit: item }">
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #itemContentTemplate let-item>
    <span class="item-label">Item {{ item }}</span>

    <div class="img-container">
        <app-item-widget *ngFor="let time of widgetTimes"
                         [spinning]="spinningWidgets"
                         [style.width]="(1 / (widgetCount)) * 100.0 + '%'">
        </app-item-widget>
    </div>
</ng-template>

<ng-template #itemPlaceholderContentTemplate let-item>
    <span class="item-label">Item {{ item }}</span>

    <div class="img-container">
        <app-item-widget *ngIf="widgetCount > 0" [spinning]="false"></app-item-widget>
    </div>
</ng-template>